{{/*

This template is used to generate the license notices distributed with PinNode.
Non-Go dependencies should be manually updated at the bottom of this file as
needed.

*/}}# PinNode Android dependency notices

The following open source dependencies are used to build PinNode. The Android
and Go code derived from [Tailscale Android source][] and [Tailscale Go source][]
retains the upstream notices and licenses.

[Tailscale Android source]: https://github.com/tailscale/tailscale-android
[Tailscale Go source]: ./tailscale.md

## Go Packages

{{ range . }}
 - [{{.Name}}](https://pkg.go.dev/{{.Name}}) ([{{.LicenseName}}]({{.LicenseURL}}))
{{- end }}
 - [tailscale.com](https://pkg.go.dev/tailscale.com) ([BSD-3-Clause](https://github.com/tailscale/tailscale/blob/HEAD/LICENSE); see [Tailscale Go source])
